.matangi-bold {
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.matangi-normal {
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.matangi-small {
    font-family: "Matangi", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    border-bottom: solid #971e1d;
}

.navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    z-index: 1040;
}

.nav-link {
    padding: 0.5rem 1rem;
}

.navbar-nav-left,
.navbar-nav-right {
    display: flex;
    gap: 1rem;
}

.youtube-video {
    border: solid #971e1d;
}

@media only screen and (max-width:1026px) {
    .youtube-video {
        visibility: hidden;
    }
}

.social-link {
    color: #971E1D;
}

footer {
    background-color: #1d2024;
    border-top: solid rgba(148, 148, 148, 0.7);
}